@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
    @apply flex justify-center items-center;
}

.heading1{
    @apply font-bold text-[3.25rem];
}
.heading2{
    @apply font-bold text-[2.5rem];
}
.heading3{
    @apply font-bold text-[2rem];
}
.body1{
    @apply font-medium text-[1.563rem];
}
.body2{
    @apply font-medium text-[1.25rem];
}
.body3{
    @apply font-medium text-[1rem];
}
.secondry1{
    @apply font-normal text-[0.813rem];
}
.secondry2{
    @apply font-normal text-[0.625rem];
}